:root {
  --tile-size: 50px;
  --tile-margin: 1px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  background-color: #2C3E50;
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.players {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#player-list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 80%;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 10px 20px #000a;
}

.player-name {
  display: flex;
  color: #333;
  background-color: #ECF0F1;
  font-size: 3em;
  padding: 5px 10px;
}

.player-score {
  display: flex;
  color: #ddd;
  background-color: #2980B9;
  font-size: 2em;
  padding: 5px 10px;
  display: flex;
  justify-content: right;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.board {
  background-color: #200a0b;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  max-width: calc(var(--tile-size) * 16);
  max-height: calc(var(--tile-size) * 16);
  padding: calc(var(--tile-size) / 4);
}

.square {
  background-color: #E0EDFA;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
}

.square-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
  background-color: #A93249;
}

.square-triple-word {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
  background-color: #F06A13;
}

.square-double-word {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
  background-color: #A93249;
}

.square-triple-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
  background-color: #619437;
}

.square-double-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--tile-margin);
  background-color: #4B9DCC;
}

.square-white-text {
  font-size: calc(var(--tile-size) / 2.5);
  color: white;
  user-select: none;
}

.tile {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
  margin: var(--tile-margin);
  cursor: grab;
  background-color: #d69f7f;
}

.tile-grabbed {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
  margin: var(--tile-margin);
  position: absolute;
  pointer-events: none;
  opacity: 75%;
  background-color: #d69f7f;
}

.tile-invalid {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
  margin: var(--tile-margin);
  background-color: #da6c6c;
}

.tile-scored {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
  margin: var(--tile-margin);
  background-color: #9fd67f;
}

.tile-played {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
  margin: var(--tile-margin);
  background-color: #bb8b6f;
}

.tile-letter {
  font-size: calc(var(--tile-size) / 2.5);
  color: black;
  user-select: none;
  display: flex;
  justify-content: center;
  grid-column: 2/5;
  grid-row: 2/5;
}

.tile-points {
  user-select: none;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: calc(var(--tile-size) / 5);
  display: flex;
  justify-content: flex-start;
  grid-column: 4/5;
  grid-row: 4/5;
}

.tile-total-points {
  color: white;
  background-color: red;
  padding: 0.1em;
  user-select: none;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 0.75em;
  font-size: calc(var(--tile-size) / 5);
  display: flex;
  justify-content: flex-end;
  grid-column: 4/6;
  grid-row: 1/3;
  border-radius: 50%;
}

#controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rack {
  background-color: #775642;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
}

.rack-empty {
  background-color: #5c4131;
  margin: var(--tile-margin);
  width: var(--tile-size);
  height: var(--tile-size);
}

#button-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#button-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.letter-selection-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-selection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #782427;
  padding: calc(var(--tile-size) / 4);
}
