@use "../../mixins";

:root {
  --board-size: 70vmin;
  --tile-size: calc(var(--board-size) / 15);
  --tile-scale-factor: 1.2;
}

.game {
  @include mixins.user-select(none);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: 0.1fr 2.8fr 0.1fr;
  touch-action: pinch-zoom;
}

.game__left {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__right {
  grid-column: 9 / 18;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.turn-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tile-buttons {
  //margin-top: 1rem;
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
}

// LetterSelection
.letter-selection-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-selection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #782427;
  padding: calc(var(--tile-size) / 4);
  
  & > * {
    margin: calc(var(--tile-size) / 6);
  }
}
