@use "../../mixins";
@use "sass:color";

:root {
  --board-size: 40vmax;
  --cell-gap: 1px;
  --cell-font-size: calc(var(--board-size) / 30);
  --tile-size: calc(var(--board-size) / 15 - calc(var(--cell-gap) * 2));
  --tile-bottom: calc(var(--tile-size) * 0.1);
  --tile-scale-factor: 1.2;
}

.game {
  @include mixins.user-select(none);
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: 3% 94% 3%;
}

.game__section-1 {
  grid-column: 4 / 9;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__section-2 {
  grid-column: 10 / 19;
  grid-row: 2 / 3;
  touch-action: pinch-zoom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.turn-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tile-buttons {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

// LetterSelection
.letter-selection-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-selection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: calc(var(--tile-size) / 4);
  background-color: #782427;
  padding: calc(var(--tile-size) / 4);
  transform: scale(2);
}

// PlayerList
.player-list {
  width: 100%;
  min-height: 55%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.player-list__player {
  @include mixins.panel;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  & > div:nth-child(2) {
    grid-column: 2 / 3;
    font-size: 1.5em;
    justify-self: end;
  }

  & > div:nth-child(3) {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
  }
}

.player-list__player--inactive {
  color: #777;
}

.player-list__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #446a;
  width: 4em;
  height: 4em;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    font-size: 2.5em;
  }
}

// Game stats
.game__info {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

// Input for dictionary
.game__lookup {
  width: 100%;
  display: flex;
  justify-content: center;
  
  & > form {
    display: flex;
  }

  & button {
    font-size: 0.8em;
    padding: 0.8em;
  }
}

.board {
  @include mixins.user-select(none);
  background-color: #200a0b;
  width: var(--board-size);
  height: var(--board-size);
  padding: calc(var(--tile-size) / 4);
  border-radius: 1%;
  font-size: calc(var(--tile-size) / 1.8);
  color: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: var(--cell-gap);
}

@mixin cell {
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__cell {
  background-color: #E0EDFA;
  @include cell;
}

.board__cell-center {
  @include cell;
  background-color: #A93249;
}

.board__cell-triple-word {
  @include cell;
  background-color: #F06A13;
}

.board__cell-double-word {
  @include cell;
  background-color: #A93249;
}

.board__cell-triple-letter {
  @include cell;
  background-color: #619437;
}

.board__cell-double-letter {
  @include cell;
  background-color: #4B9DCC;
}

// Tile
@mixin tile($base-clr) {
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 10%;
    background-color: $base-clr;
    box-sizing: border-box;
    border-bottom: var(--tile-bottom) solid color.scale($base-clr, $lightness: -50%, $saturation: -50%);
    font-size: calc(var(--tile-size) / 2.2);
    box-shadow: 0px 5px 2px #000a;
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tile {
  @include tile(#d69f7f);
  cursor: grab;
}

.tile__letter {
  color: black;
  font-size: 1em;
}

.tile__points {
  font-size: 0.5em;
  color: black;
  width: 1.5em;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile__total-points {
  color: white;
  background-color: hsl(0, 85%, 50%);
  font-size: 0.5em;
  border-radius: 50%;
  width: 1.5em;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile--grabbed {
  @include tile(#d69f7f);
  position: fixed;
  width: var(--tile-size);
  height: var(--tile-size);
  box-shadow: 0px 10px 20px #000A;
  transform: scale(var(--tile-scale-factor)) rotate(-5deg);
}

.tile--invalid {
  @include tile(#da6c6c);
}

.tile--scored {
  @include tile(#9fd67f);
}

.tile--played {
  @include tile(#bb8b6f);
}

.tile--selected {
  @include tile(#fff1b0);
}

// Rack
.rack {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.rack__cell {
    background-color: #0005;
    width: calc(var(--tile-size) * var(--tile-scale-factor));
    height: calc(var(--tile-size) * var(--tile-scale-factor));
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .tile {
      transform: scale(var(--tile-scale-factor));
    }
}

// Phone - Profile
@media (max-aspect-ratio: 4 / 5) {
  :root {
    --board-size: 85vmin;
    --tile-scale-factor: 1.3;
  }
  
  .game {
    min-height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .game__section-1 {
    width: 90%;
    flex: 1;
    justify-content: space-around;
  }

  .game__section-2 {
    width: 90%;
    flex: 1;
    justify-content: space-around;
  }

  .player-list {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
  }

  .player-list__player {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    & > div:nth-child(2) {
      font-size: 1em;
      grid-column: 2 / 3;
      align-self: center;
    }
  
    & > div:nth-child(3) {
      font-size: 1em;
      align-self: center;
    }
  }

  .player-list__icon {
    display: none;
  }

  .player-list__player--inactive {
    transform: scale(1);
  }
}
