.rack-container {
  width: calc(var(--tile-size) * 16);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rack {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.rack__cell {
  background-color: #0005;
  margin: var(--tile-margin);
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 6px;
}
