#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  height: 3rem;
  background-color: #3498DB;
  padding: 0 10px;
}

#logo {
  user-select: none;
  font-size: 1.5rem;
}

#nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}

.nav-button {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: white;
}

.nav-button-selected {
  background-color: #3db2ff;
  color: black;
}

.menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-options {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 50%;
  margin: 2em 0;
}

.game-list-item {
  display: flex;
  margin: 10px;
  box-shadow: 0 10px 20px #000a;
  width: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.game-name {
  display: flex;
  color: #333;
  background-color: #ECF0F1;
  font-size: 2em;
  padding: 5px 10px;
}

.player-slots {
  display: flex;
  color: #ddd;
  background-color: #2980B9;
  font-size: 1.5em;
  padding: 5px 10px;
  display: flex;
}

.game-list-item > button {
  width: 10%;
}
