.menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-options {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 50%;
  margin: 2em 0;
}

.game-list-item {
  display: flex;
  margin: 10px;
  box-shadow: 0 10px 20px #000a;
  width: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.game-name {
  display: flex;
  color: #333;
  background-color: #ECF0F1;
  font-size: 2em;
  padding: 5px 10px;
}

.player-slots {
  display: flex;
  color: #ddd;
  background-color: #2980B9;
  font-size: 1.5em;
  padding: 5px 10px;
  display: flex;
}

.game-list-item > button {
  width: 10%;
}