@use "../../mixins";

.menu {
  @include mixins.user-select(none);
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__options {
  @include mixins.panel;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & > * {
    margin: 0.25rem 0;
  }
}

.menu__message {
  @include mixins.panel;
}

// Game List
.game-list {
  @include mixins.panel;
  font-size: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 60%;
  height: 70vh;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;

  & button {
    font-size: 0.8rem;
    padding: 0.1rem;
  }
}

.game-list__headers, .game-list__rows {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: 40% 20% 25% 15%;
  align-items: center;
}

.game-list__headers {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  height: 3rem;
  
  & > hr {
    width: 100%;
    grid-column: 1 / 5;
  }
}

.game-list__rows {
  overflow: auto;
}

.game-list__row {
  display: contents;
  
  & > div {
    color: white;
    overflow: hidden;
    white-space: nowrap;
  }
  
  &:hover > div {
    background-color: #aaa4;
  }
}

@media (max-aspect-ratio: 4 / 5) {
  .game-list {
    font-size: 0.8rem;
    padding: 0 1rem 1rem 1rem;
    width: 80%;
    margin-bottom: 15%;
  }
  
  .game-list__rows {
    grid-row-gap: 1rem;
  }
}
