@use "../../mixins";

.menu {
  @include mixins.user-select(none);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__options {
  @include mixins.panel;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & > * {
    margin: 0.25rem 0;
  }
}

.menu__message {
  @include mixins.panel;
}

// Game List
.game-list {
  @include mixins.panel;
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 60vw;
  height: calc(100vh - 12rem);
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.game-list__headers, .game-list__rows {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.game-list__headers {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  height: 3rem;
  
  & > hr {
    width: 100%;
    grid-column: 1 / 6;
  }
}

.game-list__rows {
  overflow: auto;
}

.game-list__row {
  display: contents;
  
  & > div {
    color: white;
    padding: 0.6rem 0;
  }
  
  &:hover > div {
    background-color: #aaa4;
  }

  // & > button {
  //   color: white;
  //   background-color: #282;
  //   border: none;
  //   border-radius: 0.4rem;
  // }

  // & > button:hover {
  //   color: black;
  //   background-color: #494;
  // }
}