@use "../mixins";

.green-button {
  @include mixins.user-select(none);
  background-color: #001;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  box-shadow: none;
}

.green-button:hover {
  color: black;
  background-color: #494;
}

.green-button:disabled {
  color: #555;
}

.green-button:disabled:hover {
  background-color: #001;
  cursor: not-allowed;
}
