.green-button {
  color: white;
  background-color: #282;
  border: none;
  border-radius: 5%;
  padding: 0.3em;
  cursor: pointer;
}

.green-button:hover {
  color: black;
  background-color: #494;
}