@use "../mixins";

.green-button {
  @include mixins.panel;
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  box-shadow: none;
}

.green-button:hover {
  color: black;
  background-color: #494;
}
